<form action="/account-types" method="POST">
<div class="mb-3">
    <label for="inputAccountType" class="form-label">New Account Type:</label>
    <input type="text" class="form-control" id="inputAccountType" name="accountType">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>