<form action="/transaction-types" method="POST">
<div class="mb-4">
    <label for="inputTransactionType" class="form-label">New Transaction Type:</label>
    <input type="text" class="form-control" id="inputTransactionType" name="transactionType">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>