<form action="/transactions" method="POST">
<div class="mb-3">
    <label for="inputAmount" class="form-label">Amount:</label>
    <input type="text" class="form-control" id="inputAmount" name="amount">
  </div>
  <select class="form-select" name="account">
    <option selected>Account:</option>
    {{#each accounts}}
    <option value={{this.id}}>{{this.id}}</option>
    {{/each}}
  </select>
  <select class="form-select" name="transactionType">
    <option selected>Transaction Type:</option>
    {{#each transactionTypes}}
    <option value={{this.id}}>{{this.type}}</option>
    {{/each}}
  </select>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>