<form action="/transactions" method="POST">
<div class="mb-3">
    <label for="inputAmount" class="form-label">Amount:</label>
    <input type="text" class="form-control" id="inputAmount" name="amount">
  </div>
  <label for="accountSelect">Account:</label>
  <select class="form-select mb-3" name="account" id="accountSelect">
    <option selected>Choose an option</option>
    {{#each accounts}}
    <option value={{this.id}}>{{this.id}}</option>
    {{/each}}
  </select>
  <label for="transactionTypeSelect">Transaction Type:</label>
  <select class="form-select mb-3" name="transactionType" id="transactionTypeSelect">
    <option selected>Choose an option</option>
    {{#each transactionTypes}}
    <option value={{this.id}}>{{this.type}}</option>
    {{/each}}
  </select>
  <button type="submit" class="btn btn-success">Submit</button>
</form>