<h5 class="mb-4">Please edit the following fields and save changes to update the information selected:</h5>
<form action="/accounts/update/{{currentAccount.id}}" method="POST">
  <div class="mb-4">
      <label for="inputBalance" class="form-label">Balance:</label>
      <input type="text" class="form-control" id="inputBalance" name="balance" value={{currentAccount.balance}}>
  </div>
  <button type="submit" class="btn btn-success">Save</button>
  <a href="/accounts" class="btn btn-dark">Go Back</a>
</form>