<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title mb-4">Welcome!</h5>
        <h6 class="card-subtitle mb-2 text-muted mb-4">The following endpoints give you access to different information:</h6>
        <ul class="list-group">
            <li class="list-group-item">To see customer information: '/customers' <a href="/customers" class="btn btn-success">GO</a></li>
            <li class="list-group-item">To see account information: '/accounts' <a href="/accounts" class="btn btn-success">GO</a></li>
            <li class="list-group-item">To see transaction information: '/transactions' <a href="/transactions" class="btn btn-success">GO</a></li>
            <li class="list-group-item">To see transaction types: '/transaction-types' <a href="/transaction-types" class="btn btn-success">GO</a></li>
            <li class="list-group-item">To see account types: '/account-types' <a href="/account-types" class="btn btn-success">GO</a></li>
        </ul>
    </div>
</div>