<h1 class="mb-4 text-center">TRANSACTION TYPES</h1>
{{> transaction_types_table }}
<h4 class="mb-4">In case you would like to add a new transaction type to the database:</h4>
{{> transaction_types_form }}